data/WSJ.DTD

<!DOCTYPE WSJ [

<!--   SGML DESCRIPTIONS         -->
<!--   +     Required and repeatable element -->
<!--   ?     Optional element                -->
<!--   *     Optional and repeatable element -->
<!--   ,     elements must follow in this order  -->
<!--   |     "or" connector (pick one element)   -->
<!--   &     "and" connector (all must occur in any order)   -->

<!--       ELEMENT     MIN  CONTENT -->
<!ELEMENT  DOCNO       - -  (#PCDATA) >
<!ELEMENT  TEXT        - -  (#PCDATA) >

<!ELEMENT  AN          - -  (#PCDATA) >
<!ELEMENT  AUTHOR      - -  (#PCDATA) >
<!ELEMENT  CO          - -  (#PCDATA) >
<!ELEMENT  DATELINE    - -  (#PCDATA) >
<!ELEMENT  DOCID       - -  (#PCDATA) >
<!ELEMENT  DATE        - -  (#PCDATA) >
<!ELEMENT  LP          - -  (#PCDATA) >
<!ELEMENT  DD          - -  (#PCDATA) >
<!ELEMENT  DO          - -  (#PCDATA) >
<!ELEMENT  G           - -  (#PCDATA) >
<!ELEMENT  GV          - -  (#PCDATA) >
<!ELEMENT  HL          - -  (#PCDATA) >
<!ELEMENT  IN          - -  (#PCDATA) >
<!ELEMENT  SO          - -  (#PCDATA) >
<!ELEMENT  MS          - -  (#PCDATA) >
<!ELEMENT  ST          - -  (#PCDATA) >
<!ELEMENT  RE          - -  (#PCDATA) >
<!ELEMENT  NS          - -  (#PCDATA) >
<!ELEMENT  DOC         - -  (DOCNO+ & (AN* | AUTHOR* | CO* | DATE* |
                             MS* | RE* | NS* | ST* |
                             DATELINE* | DD* | DO* | G* | GV* | LP* | 
                             HL* | IN* | SO* | DOCID*)+ & TEXT+) >
<!ELEMENT  WSJ        O O  (DOC+)>

<!ENTITY   amp      "&" >
<!ENTITY #DEFAULT SYSTEM >

]>
